body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    height:100%;
}

header{
    width: 100%;
    background-color: #B7CCD6;
    display: flex;
    align-items:center;
}

.header h1 {
    height: 100%;
    margin: 10px;
    color: #0A3871;
    font-size: 25px;
    font-weight: bold;
    background-color: #B7CCD6;
}

.logo{
    margin-left: 50px;
    width: 5%;
    background-color: #B7CCD6;
}

main{
    display: flex; 
    background-color: #CFD1D1;
    padding: 1em 50px;
}



.captura{
    margin: 50px 50px;
}

.text-area {
    width: 95%;
    margin-top: 5px;
    height: 15%;
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
    resize: none;
    text-transform: lowercase;
}

::placeholder{ color: #0A3871; }
    .text-area:focus{
        outline: none;  
    }

.mensaje {
    background: white;
    font-size: 25px;
    background-image: url("imagenes/munheco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 15px;
    color: #0A3871;
    margin-left: 20px;
    margin-top: 5px;
    padding-left: 50px;
    position: absolute;
}

.mensaje:focus {
    outline: none;
}

.aviso {
    display: flex;
    color: #0A3871;
    font-size: medium;
    font-weight: bold;
}

.botones{
    display: flex;
    margin-top: 50px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 15px;
    color: #0A3871;
    cursor: pointer;
    height: 60px;
    margin-left: 30px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    height: 60px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
}

.copiar {
    border: 1px solid #0A3871;
    border-radius: 15px;
    color: #0A3871;
    cursor: pointer;
    height: 60px;
    margin-left: 30px;
    margin-top: 320px;
    position: absolute;
    width: 25%;
    font-size: 25px;
    font-weight: bold;
    border: none;
}

.informacion {
    color: #495057;
    font-size: 18px;
}

footer {
    text-align: center;
    font-size: 15px;
    color: #474747;
    background-color: white;
    padding: 15px;
    font-weight: bold;
}

@media screen and (max-width:480px) {
    body{
        width: 100vw;
    }
    
    main {
        display: block;
    }
   

}
